:root {
  --TB-header-padding: 125px;
}
.platform-win .typeWindows-2-g3UY {
  height: 9px;
  margin-top: 0;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  background: transparent;
}
.platform-win .winButtonClose-3Q8ZH5 {
  border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .winButton-3UMjdg {
  position: relative;
  top: calc(var(--TB-position-top, 0px) - 1px);
  right: var(--TB-position-right, 0px);
  height: var(--TB-height, 48px);
  width: var(--TB-width, 40px);
}
.platform-win .winButton-3UMjdg:not(.winButtonClose-3Q8ZH5):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container-ZMc96U {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows-2dq6rw {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton-3UMjdg {
  right: 30%;
}
.platform-win .closeButton-30b1gR {
  right: unset;
  left: 0;
}