:root {
  --TB-header-padding: 125px;
}
.platform-win .typeWindows__421ed {
  height: var(--TB-bar-height, 9px);
  margin-top: 0;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  background: transparent;
}
.platform-win .winButtonClose__421ed {
  border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .winButton__421ed {
  position: relative;
  top: calc(var(--TB-position-top, 0px) - 1px);
  right: var(--TB-position-right, 0px);
  height: var(--TB-height, 48px);
  width: var(--TB-width, 40px);
}
.platform-win .winButton__421ed:not(.winButtonClose__421ed):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container__9293f {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows__421ed {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton__421ed {
  right: 30%;
}
.platform-win .closeButton__90904 {
  right: unset;
  left: 0;
}
.platform-win #app-mount .typeWindows__421ed::before {
  content: none !important;
}